@charset "UUTF-8";

:root {
    --cor0: #611D27;
    --cor1: #8A2938;
    --cor2: #D64057;
    --cor3: #D65A6D;
    --cor4: #A48388;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;    
}

/* CARROSSEL DE IMAGENS________*/

.carousel {
    position: relative;
  }
  .carousel-inner {
    display: flex;
  }
  .carousel-item {
    flex: 0 0 100%;
    transition: transform 0.5s ease;
  }
  .carousel-item img {
    width: 100%;
    height: auto;
  }
  .prev-btn,
  .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    cursor: pointer;
  }
  .prev-btn {
    left: 0;
  }
  .next-btn {
    right: 0;
  }
  
  





header{
    display: block;
    margin: auto;
    background-color: #D65A6D;
    height: auto;
}

#caixalogo{
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
    padding: 10px;
}

#imglogo{ width: 30vw; }

/* MENU PARA SMARTPHONES____*/

nav{
    display: block;
    text-align: center;    
}

.material-symbols-outlined{
    display: block;
    margin: auto;
    padding: 1px;
    cursor: pointer;
    transform: scale(2.3); 
    border-radius: 5px;
    color: white;
}

.material-symbols-outlined{
    background-color: #8A2938;
    margin-top: 2.5%;
    margin-bottom: 8%;
}

#menupaleta{
    display: block;
    margin: auto;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: #611D27;
    color: white;
    
}

li{
    border-bottom: solid white 1px;
    padding: 10px;
}


/* MAIN PAGINA PRINCIPAL_____*/

main{
    display: block;
    margin: auto;
    height: 720px;
    max-width: 980px;
    background-image: url('img/bannerprincipal.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    opacity: 70%;
}

main{
    margin-top: -5px;
}

article{
    display: block;
    text-align: center;    
}


.banner1{
    display: inline-block;
    background-color: #611D27;
    height: 150px;
    width: 160px;
    border-radius: 10px;
    margin: 40px 10px;
    
}

.banner1{
    width: 40vw;
    height: 30vw;
}



.banner1:hover{transform: scale(1.1);}

.banner2{
    display: inline-block;
    background-color: #611D27;
    height: 150px;
    width: 160px;
    border-radius: 10px;
    margin: 40px 10px;    
}

.banner2{
    width: 40vw;
    height: 30vw;
}

.banner2:hover{transform: scale(1.1);}



/* RODAPÉ________________________*/

#sobrenos{
    display: block;
    margin: auto;
    background-color: #611d27;
    color: rgb(239, 239, 239);
    padding: 20px;
    border-bottom: solid white 1px;
    text-align: center;
    
}

#sobrenos > h2{padding: 10px;}

footer{
    margin-top: -2px;
    height: auto;
    background-color: #D65A6D;
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 10px;
}

footer > h2{
    font-weight: lighter;
    margin-bottom: 3%;
}

footer > h3{margin-top: 3%;}

footer > p{padding: 15px;}

footer > a > img {
    width: 15%;
    padding: 10px;
    margin-right: 5%;
}

footer > a > img:hover{
    transform: scale(1.2);
}

#instalogo{
    width: 17%;
    padding: 8px;    
}

#facelogo{margin-right: 0;}

#pdumar{color: #d7d7d7;}